<form [formGroup]="addForm" novalidate (ngSubmit)="addQ(addForm)">
	<div>
		<label>Question</label>
		<input type="text" formControlName="question">
	</div>

	<div>
		<label>Answer</label>
		<input type="text" formControlName="answer">
	</div>

	<div>
		<label>Question</label>
		<input type="number" formControlName="score">
	</div>

	<div>
		<label>Choice 1</label> <br>
		<input type="text" [value]="addForm.controls.answer.value" disabled="true">
	</div>
	<div formArrayName="choices">
		<div *ngFor="let ch of addForm.controls.choices.controls; let i=index">
			<div>
				<span>Choice {{i + 2}}</span>
				<span *ngIf="addForm.controls.choices.controls.length > 1 "
					(click)="removeChoice(i)" style="cursor: default">x
				</span>
			</div>

			<div [formGroupName]="i">
				<div>
					<label></label>
					<input type="text" formControlName="choice">
				</div>
			</div>
		</div>
	</div>
	<div>
    <a (click)="addChoice()" style="cursor: default">
      Add another address +
    </a>
  </div>

	<button type="submit" [disabled]="!addForm.valid">Add</button>

	<div>
    <div>addForm details:-</div>
    <pre>Is addForm valid?: <br>{{addForm.valid | json}}</pre>
    <pre>form value: <br>{{addForm.value | json}}</pre>
  </div>
</form>