<form *ngIf="quiz" (submit)="saveQuiz()">
  <label>Name</label>
  <input type="text" [(ngModel)]="quiz.name" name="name">
 
  <label>Description</label>
  <input type="text" [(ngModel)]="quiz.description" name="description">
 
  <label>Score</label>
  <input type="number" [(ngModel)]="quiz.tScore" name="tScore">
 
  <button type="submit">Save</button>
  <a [routerLink]="['/']">Cancel</a>
</form>



<mc-form [quizId]="quizId"></mc-form>
<!-- <div>
	<ul>
		<li *ngFor="let q of questions">
			Q: {{q.name}}, A: {{q.answer}}
			C: <li *ngFor="d of q.choices">
				{{d}}
				</li>
		</li>
	</ul>
</div> -->

<div>
	<ul>
		<li *ngFor="let q of quiz.questions">
			{{q.question}}
		</li>
	</ul>
</div>